@page
@using TaskCBT.WebApp

<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="~/css/table.css">
<script charset="utf-8" type="text/javascript" src="~/js/jwt.js"></script>
<script charset="utf-8" type="text/javascript" src="~/js/main.js"></script>
<script type="text/javascript">
    let api = '@Variable.Raw.UrlApi';

    initFetchJwt(`${api}/auth/refresh`, () => window.location = 'auth');

    let params = new URLSearchParams(window.location.search);
    let status = params.get('status');
    let token = params.get('token');

    function reloadConfirm() {
        let messages = ["preload", "not_query", "not_found", "confirm", "cancel"];
        function setMessage(message) {
            for (let messageKey of messages)
                document.getElementById(messageKey).hidden = messageKey !== message;
        }

        switch (status) {
            case "confirm": {
                fetch(`${api}/register/email/confirm`, { jwt: { accessToken: token } })
                    .then(e => {
                        if (e.status != 200) {
                            setMessage('not_found');
                        } else {
                            setMessage('confirm');
                        }
                    })
                break;
            }
            case "cancel": {
                fetch(`${api}/register/email/cancel`, { jwt: { accessToken: token } })
                    .then(e => {
                        if (e.status != 200) {
                            setMessage('not_found');
                        } else {
                            setMessage('cancel');
                        }
                    })
                break;
            }
            default: {
                setMessage('not_query');
                break;
            }
        }
    }
    window.addEventListener('load', function () {
        reloadConfirm();
    });
</script>

<h1 id="preload">Загрузка...</h1>
<div id="not_query" hidden>
    <h1>Ошибка! Ссылка недействительна</h1>
    <a href="/auth">Войти в аккаунт</a> | <a href="/register">Создать аккаунт</a>
</div>
<div id="not_found" hidden>
    <h1>Ошибка! Время подтверждения регистрации вышло</h1>
    <a href="/auth">Войти в аккаунт</a> | <a href="/register">Создать аккаунт</a>
</div>
<div id="confirm" hidden>
    <h1>Регистрация прошла успешно</h1>
    <a href="/auth">Войти в аккаунт</a>
</div>
<div id="cancel" hidden>
    <h1>Регистрация была отменена</h1>
    <a href="/auth">Войти в аккаунт</a> | <a href="/register">Создать аккаунт</a>
</div>